NETWORK=string # Required. The network to connect to.  See `SupportedNetworks` in `types.ts` for supported networks.

PRIMARY_RPC_URL=string # Required. The primary RPC URL to connect to for retrieving blockchain events.
PRIMARY_RPC_ACCESS_TOKEN=string # Optional. The access token to use for the primary RPC. If specified, it will be used as a bearer token in the `Authorization` header.
FALLBACK_RPC_URL=string # Optional. The RPC URL to use as a fallback if the primary RPC URL is not available.
FALLBACK_RPC_ACCESS_TOKEN=string # Optional. The access token to use for the fallback RPC. If specified, it will be used as a bearer token in the `Authorization` header.

LOG_LEVEL=string # Optional. Either 'debug', 'info', 'warn' or 'error'. Defaults to 'debug'.

IPFS_GATEWAY_URL=string # Optional. The IPFS gateway URL to use for fetching IPFS data. Defaults to 'https://drips.mypinata.cloud'.

MONITORING_UI_PORT=string # Optional. The port for the queue UI to run on. Defaults to 3000.

REDIS_CONNECTION_STRING=string # Required. The connection string for the Redis instance to use for storing job queue data.
POSTGRES_CONNECTION_STRING=string # Required. The connection string for the database.

SHOULD_START_MONITORING_UI=boolean # Optional. If true, the app will start the monitoring UI on startup.

VISIBILITY_THRESHOLD_BLOCK_NUMBER=number # Optional. The block number to start indexing Project and Drip List visibility data from. Defaults to 0.

ECOSYSTEM_DEPLOYER=string # Optional. The address of the ecosystem deployer. If specified, NFT transfers will not be hidden by default.

### INDEXING OPTIONS

POLLING_INTERVAL=number # Optional. The interval in milliseconds to poll the blockchain for new events. Defaults to 5000.
CHUNK_SIZE=number # Optional. The number of events to process in a single batch. Defaults to 1000.
CONFIRMATIONS=number # Optional. The number of block confirmations to wait for before processing an event. Defaults to 1.
